<nav>
  <a href="/">Home</a>
  {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
  {{/if}}
</nav>

<body>
  <div>
    <p>{{blogs.blog_title}}</p>
    <p>Posted {{blogs.post_date}}</p>
    <p>{{blogs.description}}</p>
    
    <form class = form-comment>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <input class="comment-input" type="text" id="comment-text"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="comment-btn">Add Comment</button>
      </div>
    </form>

    {{#each commentUser as |comment|}}
      <p>{{comment.content}}</p>
      <p>{{comment.post_date}}</p>
      <p>{{comment.name}}</p>
      {{#if comment.authoredByUser }}
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="edit-comment-btn">Edit Comment</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="delete-comment-btn">Delete Comment</button>
        </div>
      {{/if}}
    {{/each}}
  </div>
</body>

<script src="/js/comment.js"></script>

{{!-- 
WHEN I click on an existing blog post
THEN I am presented with the post title, contents, post creator’s username, and date created for that post and have the option to leave a comment
WHEN I enter a comment and click on the submit button while signed in
THEN the comment is saved and the post is updated to display the comment, the comment creator’s username, and the date created --}}