<nav>
  <a href="/">Home</a> 
  {{#if loggedIn}}
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
  {{/if}}
</nav>

{{#if loggedIn}}
  <h2>Welcome to your dashboard  !</h2>
  {{#each blogs as |blog|}}

  <a href = "/api/blog/{{blog.id}}">
    <p>{{blog.blog_title}}</p>
  </a>
  <p>{{blog.post_date}}</p>
  <p>{{blog.user.name}}</p>
{{/each}}
  
{{else}}
  <h2>Please log in</h2>
{{/if}}




{{!-- WHEN I click on the dashboard option in the navigation
THEN I am taken to the dashboard and presented with any blog posts I have already created and the option to add a new blog post
WHEN I click on the button to add a new blog post
THEN I am prompted to enter both a title and contents for my blog post
WHEN I click on the button to create a new blog post
THEN the title and contents of my post are saved and I am taken back to an updated dashboard with my new blog post
WHEN I click on one of my existing posts in the dashboard
THEN I am able to delete or update my post and taken back to an updated dashboard --}}